ul.social__list
    li.social__item
        a.social__link
            svg.social__icon
                use(xlink:href=require("../../images/svg/symbols.svg")+ '#' + 'vk')
    li.social__item
        a.social__link
            svg.social__icon
                use(xlink:href=require("../../images/svg/symbols.svg")+ '#' + 'vk')
    li.social__item
        a.social__link
            svg.social__icon
                use(xlink:href=require("../../images/svg/symbols.svg")+ '#' + 'vk')