extends ../base
include ../../common/mixin/mixin
block head
    title welcome page
block content
    section.index__page
        canvas.Background-canvas
        div.wrap__index__page
            div.index__page__container
                div.index__page__header
                    + link('login__form.html', 'Авторизоваться')(class='btn', href='login__form.html')
                div.index__form
                    include ../../components/persone/persone
                    include ../../components/social__list/_social__list
                    ul.form__list
                        li.form__item
                            a.form__link(href='works.html') Мои работы
                        li.form__item
                            a.form__link(href='about.html') Обо мне
                        li.form__item
                            a.form__link(href='blog.html') Блог
                div.index__page__footer
                    p &copy; Владимир Астахов | создано с любовью в LoftSchool | 2016