extends ../base
block head
    title about
block content
    .wrap
        include ../../components/header/header
        .container
            section.about
                svg(viewBox="0 0 1000 85").about__bg
                    polygon(points="0,0   0,86   500.8,86   500.8,75.5", class="left-triangle")
                    polygon(points="1000,0   1000,86   500,86   500,75.5", class="right-triangle")
                div.about__left
                    div.about__left__col--left
                        h1.big__title Обо мне
                    div.about__left__col--right
                        div.about__text
                            img(src=require("../../images/person__big.jpg"), class='big__photo')
                            h2.normal__title.about__title Кто я
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi consectetur consequatur eos ex facilis, fugiat magnam molestias nesciunt nisi numquam optio pariatur quasi qui reiciendis repellendus veniam voluptas! Pariatur.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi consectetur consequatur eos ex facilis, fugiat magnam molestias nesciunt nisi numquam optio pariatur quasi qui reiciendis repellendus veniam voluptas! Pariatur.
                div.about__right
                    div.about__text
                        h2.normal__title lorem
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, blanditiis, corporis cupiditate debitis deleniti deserunt dolor dolore earum ipsum itaque maxime minima necessitatibus omnis quae quasi, sequi similique. Commodi, corporis.
                    div.harakters
                        .frontent
                        .backend
                        .WorkFolow
            section.map
                div.contacts
                    h2.normal__title lorem
                ul.contacts__list
                    li.contacts__item
                        a.contacts__link
                div#map
                    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC_CAeQUG0TIsrm45B2YViKvjJEz8zxZY0&callback=initMap', async defer)

        include ../../components/footer/_footer