.btn {
  border: 1px solid $white;
  border-radius: 30px;
  padding: 15px 28px;
  text-align: center;
  color: $white;
  &:hover{
    background-color: $green;
  }
}

.btn--color{
  background-color: $green;
  &:hover{
    background-color: $dark;
  }
}

.btn--margin{
  margin: 20px 0 0 0;
}