aside#full__menu.full__menu.visuallyhidden
    #full__menu-close.full__menu-close
        span.close-icon
    ul.full__menu-list
        li.full__menu-item
            a.full__menu-link(href='works.html') Мои работы
        li.full__menu-item
            a.full__menu-link(href='about.html') Обо мне
        li.full__menu-item
            a.full__menu-link(href='blog.html') Блог
        li.full__menu-item
            a.full__menu-link(href='index.html') Авторизация
