aside#full__menu.full__menu.visuallyhidden
    #full__menu-close.full__menu-close
        span.close-icon
    ul.full__menu-list
        li.full__menu-item
            a.full__menu-link(href='#') Мои работы
        li.full__menu-item
            a.full__menu-link(href='#') Обо мне
        li.full__menu-item
            a.full__menu-link(href='#') Блог
        li.full__menu-item
            a.full__menu-link(href='#') Авторизация
