.blog {
  display: flex;
  background: #f4f5f0;
  align-items: baseline;
  padding: 40px 0;
  &__col__left {
    width: 20%;
    @include tablets{
      display: none;
    }
    @include phones{
      display: none;
    }
  }
  &__col__right {
    display: flex;
    flex-direction: column;
    width: 80%;
    @include tablets{
      width: 100%;
    }
    @include phones{
      width: 100%;
    }
  }

  &__nav__item {
    margin: 40px 0 0 0;
    text-align: right;
    &:first-child {
      margin: 0;
    }
    .blog__nav__link {
      color: #455a64;
    }
  }
  &__nav__item--active {
    font-weight: bold;
    &:after {
      content: "";
      position: absolute;
      border-right: 3px solid #4e8839;
      margin: 0 0 0 30px;
      height: 50px;
      transform: translate(0, -30%);
    }
    .blog__nav__link {
      color: $green;
    }

  }
}

.article {
  margin: 140px 0 0 0;
  &:first-child {
    margin: 0;
  }

  &__container {
    width: 60%;
    margin: auto;
    @include tablets{
      width: 85%;
    }
    @include phones{
      width: 85%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    border-bottom: 4px solid #455a64;
    opacity: .4;
    width: 30%;
    left: 36%;
    margin: 70px 0 0;
  }
  &:last-child:after {
    content: none;
  }

  &__data {
    margin: 30px 0 0 0;
    color: $green;
  }
  &__title {
    font-size: 35px;
    color: #455a64;
  }
  p {
    margin: 30px 0 0 0;
  }
}

.swipe__sidebar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: -290px;
  top: 0;
  bottom: 0;
  background: $green;
  width: 290px;

  &__list{
    margin: 0;
  }

  &__item {
    margin: 40px 0 0 0;
    text-align: right;
    &:first-child {
      margin: 0;
    }
    .swipe__sidebar__link {
      color: $white;
      opacity: .5;
    }
  }
  &__item--active {
    font-weight: bold;
    .swipe__sidebar__link {
      color:$white;
      opacity: 1;
    }
  }
  &__btn{
    width: 50px;
    height: 50px;
    background: $green;
    border-radius: 50%;
    left: 5%;
    position: relative;
    cursor: pointer;
  }
}
.swipe__sidebar--open{
  left: 0;
}