include ../../common/mixin/mixin
section.header
    div.header__top
        div.header__social__block
            include ../../components/social__list/_social__list
        div.hamburger__menu.header__hamburger__menu
            a.hamburger-menu-link(href='#')
                div.hamburger-menu-link__bars
    div.header__persone
        include ../../components/persone/persone
    div.header__arrow__down
        include ../../components/arrow/arrow
svg(viewBox="0 0 1000 85").header__triangle
    polygon(points="0,0   0,86   500.8,86   500.8,75.5", class="left-triangle")
    polygon(points="1000,0   1000,86   500,86   500,75.5", class="right-triangle")